<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Logs - Minicraft</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
</head>
<body>
  <div class="container">
    <div class="col-md-12">
      <h1>Minicraft Logs</h1>
      <hr>
      <ul id="logs" class="list-group">
      </ul>
    </div>
  </div>
</body>
</html>