{% extends 'includes/global_layout.twig' %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-offset-3 col-md-6">
      {% include 'includes/flash.twig' %}
      <div class="box box-orange">
        <form method="post" action="{{ currentUri }}" role="form">
          <div class="form-group">
            <label class="control-label" for="account">{{ lang('USERNAME_OR_EMAIL') }}</label>
            <input id="account" class="form-control" type="text" name="account">
          </div>
          <button type="submit" class="btn btn-block btn-primary">{{ lang('BTN_RESET') }}</button>
        </form>
      </div>
    </div> <!-- .col-md-6 -->
  </div> <!-- .row -->
</div> <!-- .container -->
{% endblock %}