{% extends 'includes/global_layout.twig' %}
{% block stylesheets %}
{{ parent() }}
<style>
  h1 {
    font-size: 10em;
  }
</style>
{% endblock %}
{% block content %}
<div class="container-fluid">
  <h1 class="text-center">404</h1>
</div>
{% endblock %}