.blog-article,
.article-header {
  padding-top: 4%;
}

.blog-article,
.article-content {
  padding-bottom: 4%;
}

.blog-article-title,
.article-title {
  margin-top: 0;
  font-size: 2em;
  font-weight: 700;
  color: #333;
}

@media (min-width: 768px) {
  .blog-article-title,
  .article-title {
    font-size: 2.5em;
  }
}

.blog-article-title a {
  color: #333;
}

.blog-article-title a:hover {
  color: #52bad5;
}

.blog-article-image,
.article-image {
  margin-bottom: 6%;
}

.blog-article-content,
.article-content {
  font-size: 1.5em;
  line-height: 1.5;
  color: #555;
  font-family: "Noto Serif", Georgia, "Times New Roman", Times, serif;
}

.blog-article-meta,
.article-meta {
  margin-bottom: 2%;
  color: #999;
  font-size: 1.250em;
}

.see-comments {
  margin-top: 2%;
  font-size: 1.5em;
}

@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}